extends ../layout/default

block page__content
  .wrapper.page-content__wrapper
    .page-content__head.page-head
      h1.page-head__title Наши номера

      sl-select(placeholder="Фильтровать")
        sl-menu-item(value="square-up")
          | ↑ По площади
        sl-menu-item(value="square-down")
          | ↓ По площади
        sl-menu-divider
        sl-menu-item(value="cost-up")
          | ↑ По цене
        sl-menu-item(value="cost-down")
          | ↓ По цене

    .page-content__main.catalog
      aside.catalog__aside.filters
        form.filters-form(data-filters-form)
          .input-group.filters-form__item
            p.input-group__title Цена за сутки,₽
            .input-group__item.inputs-container.inputs-container_row_2
              input.input(type="number" data-tw-bind="cost-start")
              input.input(type="number" data-tw-bind="cost-end")
        
          .input-group.filters-form__item
            p.input-group__title Площадь
            each square in squares
              .input-group__item.input-container
                .input-container__input.input.checkbox
                  input(type="checkbox" data-tw-bind='equipment-' + square ) 
                  svg.check-svg(role="img")
                    use(xlink:href="./assets/images/symbol/sprite.svg#check-svg")
                label.input-container__label=square + 'м2'


          .input-group.filters-form__item
            p.input-group__title Оснащение номера
            each equipment in equipments
              .input-group__item.input-container
                .input-container__input.input.checkbox
                  input(type="checkbox" data-tw-bind='equipment-' + equipment.name ) 
                  svg.check-svg(role="img")
                    use(xlink:href="./assets/images/symbol/sprite.svg#check-svg")
                label.input-container__label=equipment.text

          .input-group.filters-form__item
            button(type="submit").input-group__item.button.button_color_accent-100.button_full-width.filters-form Применить
            button(type="reset" data-conditional-rendering="resetFiltersButton" data-show="false").input-group__item.button.button_color_accent-100.button_full-width.filters-form Сбросить фильтр

      main.catalog__main
        section.products-grid.grid(data-catalog-items)
          each item, index in catalogItems
            article.products-grid__item.product-card(v-for="item in items", href="#" data-cost=item.cost data-size=item.sizes data-equipment=item.equipment data-catalog-item)
              picture.product-card__image(alt="Кот, котик, кошка")
                include ../mixins/Picture
                block content
                  +Picture('catalog-img-' + (index + 1))

              .product-card__content
                h5.product-card__title=item.title

                p.product-card__point='Размеры (ШхГхВ) - ' + item.sizes + 'см'

                p.product-card__point='Площадь - ' + item.square + 'м2'

                p.product-card__point 
                  | Оснащение номера

                  span.equipment-svgs
                    if item.equipment.empty == true
                      svg.equipment-empty-svg(role="img")
                        use(xlink:href="./assets/images/symbol/sprite.svg#equipment-empty-svg")

                    if item.equipment.tray == true
                      svg.equipment-tray-svg(role="img")
                        use(xlink:href="./assets/images/symbol/sprite.svg#equipment-tray-svg")
                        
                    if item.equipment.tower == true
                      svg.equipment-tower-svg(role="img")
                        use(xlink:href="./assets/images/symbol/sprite.svg#equipment-tower-svg")

                    if item.equipment.ball == true
                      svg.equipment-ball-svg(role="img")
                        use(xlink:href="./assets/images/symbol/sprite.svg#equipment-ball-svg")

                    if item.equipment.house == true
                      svg.equipment-house-svg(role="img")
                        use(xlink:href="./assets/images/symbol/sprite.svg#equipment-house-svg")                

                p.product-card__point 
                  | Цена за сутки: 
                  span.product-card__price=item.cost + '₽'

                a.button.button_color_accent-500.button_with-icon.button_full-width.product-card__button(href="#") 
                  span.button__text Забронировать
                  div.button__icon-wrapper
                    svg.button__icon.paw-svg(role="img")
                      use(xlink:href="./assets/images/symbol/sprite.svg#paw-svg")